# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [26]:
wind=pd.read_csv("wind.data", sep="\s+")
windes=pd.read_csv("wind.desc", sep="\t")
print(wind, windes, sep="\n\n")

      Yr  Mo  Dy    RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA  \
0     61   1   1  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25
1     61   1   2  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04
2     61   1   3  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN
3     61   1   4  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79
4     61   1   5  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54
...   ..  ..  ..    ...    ...    ...    ...    ...    ...    ...    ...
6569  78  12  27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59
6570  78  12  28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25
6571  78  12  29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46
6572  78  12  30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87
6573  78  12  31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63

        MUL    CLO    BEL    MAL
0     10.83  12.58  18.50  15.04
1      9.79   9.67  17.54  13.83
2      8.50   7.67  12.75  12.71
3      5.83   5.88   5.46  10.88
4     10.92  10.34  12.92  11.83
...     ...    ...    ...    ...
6569  14.04  14.00  17.21  40.08
6570  15.25  18.05  21.79  41.46
6571  14.50  16.42  18.88  29.58
6572  12.46  12.12  14.67  28.79
6573  11.58  11.38  12.08  22.08

[6574 rows x 15 columns]

   wind   daily average wind speeds for 1961-1978 at 12 synoptic meteorological
0          stations in the Republic of Ireland (Ha...
1   These data were analyzed in detail in the foll...
2      Haslett, J. and Raftery, A. E. (1989). Spac...
3      Long-memory Dependence: Assessing Ireland's...
4      (with Discussion). Applied Statistics 38, 1...
5   Each line corresponds to one day of data in th...
6   year, month, day, average wind speed at each o...
7                  in Fig.4 of Haslett and Raftery :
8    RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, ...
9                 Fortan format : ( i2, 2i3, 12f6.2)
10                 The data are in knots, not in m/s.
11     Permission granted for unlimited distribution.
12  Please report all anomalies to fraley@stat.was...
13  Be aware that the dataset is 532494 bytes long...
14  Megabyte).  Please be sure you want the data b...

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [27]:
#wind.Yr=np.array(list(map(lambda x: x+1900,wind.Yr)))
wind.Yr=wind.Yr+1900
wind.Yr

0       1961
1       1961
2       1961
3       1961
4       1961
        ...
6569    1978
6570    1978
6571    1978
6572    1978
6573    1978
Name: Yr, Length: 6574, dtype: int64

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [30]:
#wind=wind.set_index(['Mo','Dy','Yr'],drop=True)
wind

              RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA    MUL  \
Mo Dy Yr
1  1  1961  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25  10.83
   2  1961  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04   9.79
   3  1961  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN   8.50
   4  1961  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79   5.83
   5  1961  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54  10.92
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
12 27 1978  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59  14.04
   28 1978  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25  15.25
   29 1978  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46  14.50
   30 1978  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87  12.46
   31 1978  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63  11.58

              CLO    BEL    MAL
Mo Dy Yr
1  1  1961  12.58  18.50  15.04
   2  1961   9.67  17.54  13.83
   3  1961   7.67  12.75  12.71
   4  1961   5.88   5.46  10.88
   5  1961  10.34  12.92  11.83
...           ...    ...    ...
12 27 1978  14.00  17.21  40.08
   28 1978  18.05  21.79  41.46
   29 1978  16.42  18.88  29.58
   30 1978  12.12  14.67  28.79
   31 1978  11.38  12.08  22.08

[6574 rows x 12 columns]

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

### Step 7. Compute how many non-missing values there are in total.

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.